@import url('https://fonts.googleapis.com/css?family=Bonbon|Dancing+Script:400,700|Pacifico|Sedgwick+Ave+Display|Special+Elite|ZCOOL+KuaiLe');

.main-container {
    background: url("../images/background.jpg") center / cover no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

.nav-container {
    padding: 0 !important;
    background-color: rgba(122, 52, 56, 0.8);

}

.menu {
    margin: 0 !important;
    text-align: center;
}

#nav li {
    height: 100px;
    padding: 30px 30px;

}

#nav li a {
    text-decoration: none;
    color: #FAFAE6;
    font-size: 2em;
    font-family: 'Special Elite', cursive;
}

aside {
    position: fixed;
    top: 35%;
    right: 0;
}

aside ul {
    display: inline-block;
    list-style: none;
}

aside i {
    font-size: 44px;
    border: 3px solid;
    border-radius: 25%;
    padding-left: 5px;
    padding-top: 1px;
    width: 50px;
    height: 50px;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
}

aside .fa-twitter:hover, .fa-youtube:hover, .fa-facebook:hover {
    transition: all 0.4s ease-in-out;
    border-radius: 0;
}

.twittercolor {
    color: #1da1f2;
    background-color: #fff;
}

.facebookcolor {
    color: #4867aa;
    background-color: #fff;
}

.youtubecolor {
    color: #ff0000;
    background-color: #fff;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    background-color: rgba(122, 52, 56, 0.8);
}

.creator-footer {
    text-align: center;
    font-size: 16px;
    padding: 8px;
    margin: 0;
    font-family: "Pacifico", cursive;
}

@media (max-width: 1200px) {
    #nav li {
        height: 90px;
        padding: 25px 25px;
    }

    #nav li a {
        font-size: 24px;
    }
}

@media (max-width: 992px) {
    #nav li a {
        font-size: 23px;
    }
}

@media (max-width: 781px) {
    #nav li a {
        font-size: 19px;
    }

    .hamburgernav {
        visibility: visible;
    }

}

/* Band site */

.col-centered {

    margin: 0 auto;
}

/*.member-container {*/
/*position: relative;*/
/*float: none;*/
/*border: #172349 1px solid;*/
/*width: 70%;*/
/*margin: 0 auto;*/
/*height: 210px;*/
/*}*/
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: center;
    margin-right:-4px;
}

.quad {
    height: 200px;
}

.member1 {
    background: url("../images/dj.jpg") center / cover no-repeat;
    /*transform: rotate(-45deg);*/
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.member1:hover, .member2:hover, .member3:hover, .member4:hover {
    cursor: pointer;
    transition: all 0.9s ease-in-out;
    transform: scale(1.2);
}

.member1:hover p {
    transition: all 0.9s ease-in-out;
    visibility: visible;
}

.member2 {
    background: url("../images/md.jpg") center / cover no-repeat;
    /*transform: rotate(-45deg);*/
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.member3 {
    background: url("../images/mn.jpg") center / cover no-repeat;
    /*transform: rotate(-45deg);*/
    border-radius: 50%;
    transition: all 0.5s ease-in-out;

}

.member4 {
    background: url("../images/pt.jpg") center / cover no-repeat;
    /*transform: rotate(-45deg);*/
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.about-left {
    /*position: absolute;*/
    /*width: 500px;*/
    /*margin-top: -80px;*/
    /*margin-left: -400px;*/
    visibility: hidden;
    /*background-color: #AA865B;*/
    /*border-radius: 50px 25px;*/
    /*opacity: 0.8;*/
    /*padding: 5px;*/
    /*transition: all 0.9s ease-in-out;*/
}

/* Unused class only for the template of colors */

.colors {
    color: #CD0F38;
    color: #3A89A4;
    color: #172349;
    color: #FAFAE6;
}

.colors2 {

    color: #3B4C6D;
    color: #995F50;
    color: #AA865B;
    color: #7A8062;
    color: #7A3438;
}

/* Hamburger menu */

