@import url('https://fonts.googleapis.com/css?family=Bonbon|Dancing+Script:400,700|Pacifico|Sedgwick+Ave+Display|Special+Elite|ZCOOL+KuaiLe');

body {
    background: url("../images/background.jpg") center / cover no-repeat;
}

.nav-container {
    padding: 0 !important;
    background-color: rgba(122, 52, 56, 0.8);
}

.menu {
    margin: 0 !important;
    text-align: center;
}

#nav li {
    height: 70px;
    padding: 20px 40px;
}

#nav li a {
    text-decoration: none;
    color: #FAFAE6;
    font-size: 30px;
    font-family: 'Special Elite', cursive;
    margin: 0;
    padding: 0;
}

#nav li a span {
    margin: 0;
    padding: 0;
}

/*
###########################
##### WELCOME PAGE ########
###########################
*/

.no-padding {
    padding: 0 !important;
}

.welcome img, .welcome h1 {
    width: 100%;
    text-align: center;
    font-family: 'Special Elite', cursive;
}

.welcome h1 {
    letter-spacing: 5px;
    font-size: 60px;
}

/*
###########################
######### FOOTER #########
###########################
*/

footer {
    left: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 40px;
}

.creator-footer {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    font-family: "Sedgwick", cursive;
    font-weight: 700;
}

footer div {
    margin: 0;
    padding: 0;
    height: inherit;
}

.footer-color {
    background-color: #3B4C6D;
}

/*
###############################
######### SOCIAL LINK #########
###############################
*/

footer ul {
    display: inline-block;
    list-style: none;
}

footer i {
    border: 3px solid;
    border-radius: 25%;
    padding-top: 2px;
    width: 50px;
    height: 50px;
    transition: all 0.5s ease-in-out;
}

footer li {
    margin-top: 11px;
    margin-bottom: 11px;
}

footer .fa-twitter:hover, .fa-youtube:hover, .fa-facebook:hover {
    transition: all 0.4s ease-in-out;
    border-radius: 0;
}

.list-inline {
    margin: 0;
}

.twittercolor {
    color: #1da1f2;
    background-color: #fff;
}

.facebookcolor {
    color: #4867aa;
    background-color: #fff;
}

.youtubecolor {
    color: #ff0000;
    background-color: #fff;
}

/*
###########################
######## BAND SITE ########
###########################
*/

.band-member-position {
    margin-top: 2%;
    opacity: 0.9;
    border-radius: 20px;
    border: 5px;
}

.band-member {
    margin: 0 !important;
}

.band-member .row {
    margin: 0 !important;
}

.band-member img {
    float: left;
    border-radius: 20px;
    margin-right: 10px;
}

.band-member p {
    clear: left;
    font-size: 18px;
    color: #fafafa;
    background-color: #AA865B;
    border: #172349 10px solid;
    border-radius: 30px;
}

.band-member h2 {
    color: black;
}

.band-member {
    clear: left;
    font-size: 20px;
    color: #fafafa;
}

/* Responsive header and footer */

@media (max-width: 1200px) {
    #nav li {
        height: 65px;
        padding: 15px 29px;
    }
}

@media (max-width: 992px) {

    .creator-footer {
        padding-top: 12px;
        font-size: 20px;
    }

    #nav li {
        height: 65px;
        padding: 15px 23px;
    }

    #nav li a {
        font-size: 1.4em;
    }

    footer {
        height: 60px;
    }

    footer li {
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 768px) {

    .creator-footer {
        margin-top: 0;
        padding-top: 5px;
        font-size: 15px;
    }
}

/* Responsive Welcome site */

@media (max-width: 1200px) {
    .welcome h1 {
        letter-spacing: 5px;
        font-size: 50px;
    }
}

@media (max-width: 992px) {
    .welcome h1 {
        letter-spacing: 5px;
        font-size: 45px;
    }
}

@media (max-width: 768px) {
    .welcome h1 {
        letter-spacing: 5px;
        font-size: 40px;
    }
}

/* Unused class only for the template of colors */
.colors {
    color: #CD0F38;
    color: #3A89A4;
    color: #172349;
    color: #FAFAE6;
}

.colors2 {
    color: #3B4C6D;
    color: #995F50;
    color: #AA865B;
    color: #7A8062;
    color: #7A3438;
}