@import url('https://fonts.googleapis.com/css?family=Bonbon|Dancing+Script:400,700|Pacifico|Sedgwick+Ave+Display|Special+Elite|ZCOOL+KuaiLe');

body {
    background: url("../images/background.jpg") center / cover no-repeat;
}

.font-zcool-kualie {
    font-family: 'ZCOOL KuaiLe', cursive;
}

/* NAVIGATION */

.nav-container {
    padding: 0 !important;
    background-color: rgba(122, 52, 56, 0.8);
}

.menu {
    margin: 0 !important;
    text-align: center;
}

#nav li {
    height: 70px;
    padding: 20px 40px;
}

#nav li a {
    text-decoration: none;
    color: #FAFAE6;
    font-size: 30px;
    font-family: 'Special Elite', cursive;
    margin: 0;
    padding: 0;
}

#nav li a span {
    margin: 0;
    padding: 0;
}

/* FOOTER */

footer {
    left: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 40px;
}

.creator-footer {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    font-family: "Sedgwick", cursive;
    font-weight: 700;
}

footer div {
    margin: 0;
    padding: 0;
    height: inherit;
}

.footer-color {
    background-color: #3B4C6D;
}

/* SOCIAL LINK */

footer ul {
    display: inline-block;
    list-style: none;
}

footer i {
    border: 3px solid;
    border-radius: 25%;
    padding-top: 2px;
    width: 50px;
    height: 50px;
    transition: all 0.5s ease-in-out;
}

footer li {
    margin-top: 11px;
    margin-bottom: 11px;
}

footer .fa-twitter:hover, .fa-youtube:hover, .fa-facebook:hover {
    transition: all 0.4s ease-in-out;
    border-radius: 0;
}

.list-inline {
    margin: 0;
}

.twittercolor {
    color: #1da1f2;
    background-color: #fff;
}

.facebookcolor {
    color: #4867aa;
    background-color: #fff;
}

.youtubecolor {
    color: #ff0000;
    background-color: #fff;
}

/*
###########################
##### WELCOME PAGE ########
###########################
*/

.no-padding {
    padding: 0 !important;
}

.welcome img, .welcome h1 {
    width: 100%;
    text-align: center;
    font-family: 'Special Elite', cursive;
}

.welcome h1 {
    letter-spacing: 5px;
    font-size: 60px;
}

/*
###########################
##### TOUR INFO SITE ######
###########################
*/
.rows {
    margin-top: 30px;
    margin-bottom: 30px;
}

.rows .row {
    margin: 0 !important;
    transition: all 0.5s ease-in-out;
}

.rows .row:hover {
    background-color: rgba(1, 1, 1, 0.3);
    transition: all 0.5s ease-in-out;
}

.timeline-item {
    padding: 64px 0 0 32px;
    position: relative;
    color: black;
    border-left: 1px solid;
    height: 115px;
}

.timeline-item::before {
    content: attr(dates);
    position: absolute;
    left: 35px;
    top: 30px;
    display: block;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 34px;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: "";
    background: black;
}

.progress-position {
    height: 115px;
    padding-top: 40px;
}

.ticket-status {
    position: absolute;
    left: 15%;
    top: 44%;
    /*padding: 3px 30px 2px 10px;*/
    color: black;
    /*background-color: rgba(25, 25, 25, 0.2);*/
}

.button-position {
    height: 115px;
    padding-top: 16px;
}

.timeline-item h4 {
    margin: 0;
}

/*
###########################
######## BAND SITE ########
###########################
*/

.band-member-position {
    margin-top: 2%;
    opacity: 0.9;
    border-radius: 20px;
    border: 5px;
}

.band-member {
    margin: 0 !important;
}

.band-member .row {
    margin: 0 !important;
}

.band-member img {
    float: left;
    border-radius: 20px;
    margin-right: 10px;
}

.band-member p {
    clear: left;
    font-size: 18px;
    color: #fafafa;
    background-color: #AA865B;
    border: #172349 4px solid;
    border-radius: 27px 27px 10px 10px;
}

.band-member h2 {
    color: black;
}

.band-member p, .band-member h2 {
    font-family: 'ZCOOL KuaiLe', cursive;
}

.band-member {
    clear: left;
    font-size: 20px;
    color: #fafafa;
}

/*
###########################
####### MEDIA SITE ########
###########################
*/
.media-container h1 {
    text-align: center;
    width: 100%;

}

.media-container h2 {
    width: 80%;
    text-align: center;
    margin: 3% auto;
}

.media-container {
    margin-top: 2%;
}

.audio-container {
    margin: 2% auto;
}

.image-container {
    width: 300px;
    margin: 0 auto;
}

.music-container {
    width: 300px;
    margin: 0 auto;
}

.audio-container img {
    border-radius: 50%;
    display: block;
    margin: 30px auto;
    width: 300px;
    height: 300px;
}

.video-container {
    text-align: center;
    margin: 0 auto;
}

video {
    width: 700px;
}

/*
###########################
###### CONTACT SITE #######
###########################
*/

.contact-container h2, .contact-container h3, .contact-container h4 {
    text-align: center;
    font-family: 'ZCOOL KuaiLe', cursive;
    margin: 4% auto;
    width: 70%;
    color: black;
}

.contact-container input {
    margin: 2% 0;
}

.form-position {
    margin: 5% auto;
    max-width: 60%;
}

button[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #3B4C6D;
    border: transparent;
    color: #fafafa;
    transition: all 1.2s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #7A8062;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: all 1.2s ease-in-out;
}

/* Responsive header and footer */

@media (max-width: 1200px) {
    #nav li {
        height: 65px;
        padding: 15px 29px;
    }
}

@media (max-width: 992px) {

    .creator-footer {
        padding-top: 12px;
        font-size: 20px;
    }

    #nav li {
        height: 65px;
        padding: 15px 23px;
    }

    #nav li a {
        font-size: 1.4em;
    }

    footer {
        height: 60px;
    }

    footer li {
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 768px) {

    .creator-footer {
        margin-top: 0;
        padding-top: 5px;
        font-size: 15px;
    }
}

/* Responsive Welcome site */

@media (max-width: 1200px) {
    .welcome h1 {
        letter-spacing: 5px;
        font-size: 50px;
    }
}

@media (max-width: 992px) {
    .welcome h1 {
        letter-spacing: 5px;
        font-size: 45px;
    }
}

@media (max-width: 768px) {
    .welcome h1 {
        letter-spacing: 5px;
        font-size: 40px;
    }
}

/* Responsive Tour Site page */

@media (max-width: 768px) {

    .button-position {
        padding-left: 0 !important;
    }

    .progress {
        visibility: hidden;
    }
}

/* Responsive Band site */

@media (max-width: 420px) {

    .band-member img {
        width: 100%;
        border-radius: 20px 20px 0 0;
        margin: 0;
    }

    .band-member p {
        padding: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .progress-position {
        visibility: hidden;
        left: 15%;
        font-size: 10px;
    }

}

/* Responsive Contact site */

@media (max-width: 992px) {

    .contact-container h4 {
        width: 100%;
    }
}

/* Responsive Media site */

@media (max-width: 420px) {

    video {
        width: 300px;
    }

    .audio-container {
        padding: 0 !important;
    }
}

/* Unused class only for the template of colors */
.colors {
    color: #CD0F38;
    color: #3A89A4;
    color: #172349;
    color: #FAFAE6;
}

.colors2 {
    color: #3B4C6D;
    color: #995F50;
    color: #AA865B;
    color: #7A8062;
    color: #7A3438;
}